.lt_search{
    width: 100%;
    padding:10px;
    position:relative;
}
.lt_search input{
    width: 100%;
    height: 30px;
    border: 1px solid #069;
    line-height: 28px;
    font-size: 12px;
    background-color: #fff;
    text-align: left;
    padding:0 0 0 10px;
    margin-bottom: 0;

}
.lt_search a{
    width: 60px;
    height: 30px;
    line-height:30px;
    text-align:center;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: #069;
    color:#fff;
    font-size:14px;
}
/*搜索历史*/
.lt_history{
    padding: 10px;
    color: #666;
}
.lt_history .title{
    font-size: 12px;
    float: left;
    line-height: 20px;
}
.lt_history .icon_clear{
    font-size: 12px;
    float: right;
    line-height: 20px;
}
.lt_history ul{
    list-style: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #ccc;
    margin-top: 10px;
}
.lt_history ul li{
    height: 30px;
    line-height: 30px;
    border: 1px solid #ccc;
    border-bottom:none ;
    padding:  0 10px;
}
.lt_history ul li a{
    display: inline-block;
    font-size: 12px;
    color: #666;
}
.lt_history ul li .icon_delete{
    font-size: 14px;
    color: red;
    float: right;
    width:30px;
    height:30px;
    display:block;
    line-height:30px;
    text-align:center;
    cursor:pointer;
}

/*搜索列表*/
.lt_order{
    width: 100%;
    background-color: #efeff4;
}
.lt_order a{
    width: 25%;
    height: 30px;
    line-height:30px;
    text-align:center;
    float: left;
    color:#333;
    font-size:12px;
}
.lt_order a.now{
    color:orange;
}
/*商品*/
.lt_product{
    width: 100%;
    padding:0 10px;
}
.lt_product .pro_item{
    float:left;
    width: 48%;
    margin-top: 10px;
}
.lt_product .pro_item:nth-child(2n){
    margin-left: 4%;
}
.lt_product .pro_item .pro_item_box{
    width: 100%;
    min-height: 200px;
    box-shadow: 0 0 3px #ddd;
    display:block;
    text-align:center;
    padding:10px 0;
}
.lt_product .pro_item .pro_item_box img{
    display:block;
    width: 100%;
}
.lt_product .pro_item .pro_item_box p:first-of-type{
    padding: 0 10px;
}
.lt_product .pro_item .pro_item_box p:last-of-type{
    text-align:center;
}
.lt_product .pro_item .pro_item_box .nowPrice{
    font-size: 12px;
    color:red;
}
.lt_product .pro_item .pro_item_box .oldPrice{
    font-size: 12px;
    color:#ccc;
    text-decoration:line-through;
}
.lt_product .pro_item .pro_item_box .button{
    background-color: #006699;
    color:#fff;
}