<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta name="description" content="乐淘是中国最大的正品运动鞋、皮鞋网上专卖。乐淘网经营的品牌包括耐克、阿迪达斯、李宁、匡威等国内外知名品牌的篮球鞋,板鞋,休闲鞋,跑步鞋,帆布...">
    <meta name="Keywords" content="乐淘 乐淘鞋城 买鞋子 上乐淘 运动鞋 篮球鞋 帆布鞋 跑步鞋 男鞋 女鞋 足球鞋 休闲鞋 凉鞋 户外鞋 布洛克 高跟鞋 单鞋 豆豆鞋 乐福鞋 牛津鞋 凉拖 皮鞋 短靴 长靴 登山鞋 徒步鞋 硫化鞋 训练鞋 溯溪鞋 越野鞋 板鞋 足球鞋 网球鞋 赛车鞋 雪地靴 马丁靴 商务 英伦">
    <link type="image/x-icon" rel="shortcut icon" href="images/favicon.ico">
    <link rel="stylesheet" href="assets/mui/css/mui.min.css">
    <link rel="stylesheet" href="assets/fontAwesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/search.css">
    <title>测试-搜索中心</title>
</head>
<body>
    <!-- 内容 -->
    <div class="lt_container">
        <header class="lt_header">
            <a class="left" href="javascript:history.back();"><span class="fa fa-arrow-left"></span></a>
            <h3>搜索中心</h3>
        </header>
        <div class="lt_content">
            <div class="lt_wrapper">
                <div id="refreshContainer" class="mui-scroll-wrapper">
                    <div class="mui-scroll">
                        <!-- 搜索 -->
                        <div class="lt_search">
                            <form action="" method="get">
                                <input type="search" placeholder="搜索你喜欢的商品" />
                                <a href="javascript:;">搜索</a>
                            </form>
                        </div>
                        <!-- 排序 -->
                        <div class="lt_order mui-clearfix">
                            <a href="javascript:;" data-name="updateTime" class="now">上架时间<span class="fa fa-angle-down"></span></a>
                            <a href="javascript:;" data-name="price">价格<span class="fa fa-angle-down"></span></a>
                            <a href="javascript:;" data-name="num">销量<span class="fa fa-angle-down"></span></a>
                            <a href="javascript:;" data-name="id" >折扣<span class="fa fa-angle-down"></span></a>
                        </div>
                        <!-- 商品 -->
                        <div class="lt_product mui-clearfix">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="lt_footer">
            <a class="tab_home fa fa-home" href="index.html"><span>首页</span></a>
            <a class="tab_cate fa fa-bars" href="category.html"><span>分类</span></a>
            <a class="tab_cart fa fa-shopping-cart" href="user/cart.html"><span>购物车</span></a>
            <a class="tab_user fa fa-user" href="user/index.html"><span>会员中心</span></a>
        </footer>
    </div>
<script type="text/template" id="searchListTemplate">
<% if(products){%>
    <% for(var i = 0;i < products.length;i++){%>
    <div class="pro_item">
        <a href="product.html?productId=<%=products[i].id%>" class="pro_item_box">
            <img src="<%=products[i].picAddr%>" alt="<%=products[i].brandName%>">
              <p class="mui-ellipsis-2"><%=products[i].proName%></p><p><span class="nowPrice">&yen;<%=products[i].price%></span> <span class="oldPrice">&yen;<%=products[i].oldPrice%></span></p>
             <button class="button">立即购买</button>
        </a>
    </div>
    <%}%>
<%}%>
</script>
<script src="assets/mui/js/mui.min.js"></script>
<script src="assets/zepto/zepto.min.js"></script>
<script src="assets/artTemplate/template-native.js"></script>
<script src="js/common.js"></script>
<script src="js/searchList.js"></script>
</body>
</html>